.layout-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}



.layout-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.layout-item {
    background: orange;
    padding: 10px;
}


.card-size {
    width: 200px;
    padding: 20px;
    border: 5px solid black;

    /* 🔥 kluczowe */
    box-sizing: border-box;
}







.item {
    background: lightgreen;
    margin: 10px;
}

/* 🔹 BLOCK */
.item-block {
    display: block;
}

/* 🔹 INLINE */
.item-inline {
    display: inline;
}

/* 🔹 INLINE-BLOCK */
.item-inline-block {
    display: inline-block;
    width: 100px;
    height: 50px;
}






.container {
    position: relative; /* ważne dla absolute */
    height: 200px;
    border: 2px solid black;
}

.box {
    width: 100px;
    height: 50px;
    background: lightcoral;
    margin: 10px;
}

/* 🔹 STATIC */
.box-static {
    position: static;
    /* ignoruje top/left */
}

/* 🔹 RELATIVE */
.box-relative {
    position: relative;
    top: 10px;
    left: 20px;
}

/* 🔹 ABSOLUTE */
.box-absolute {
    position: absolute;
    top: 0;
    right: 0;
}

/* 🔹 FIXED */
.box-fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
}


.card {
    background: lightblue;
    border: 2px solid black;
}

/* 🔹 padding */
.card-padding {
    padding: 20px;
}

/* 🔹 margin */
.card-margin {
    margin: 20px;
}
